<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>게시판</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />	
</head>
<body>
	<div class="container">
		<div th:if="${#strings.isEmpty(session.user)}" style="text-align:right;">
			<a href="/login.do" class="btn">login</a>
		</div>
		<div th:unless="${#strings.isEmpty(session.user)}" style="text-align:right;">
			<b>[[${session.user.userName}]]</b>님 환영합니다. <a href="/logout.do" class="btn">logout</a>
		</div>
		<h2>게시판 목록</h2>
		<table class="board_list">
			<colgroup>
				<col width="15%" />
				<col width="*" />
				<col width="15%" />
				<col width="20%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">조회수</th>
					<th scope="col">작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(list)} > 0" th:each="board : ${list}">
					<td th:text="${board.boardIdx}"></td>
					<!-- 
					<td th:text="${board.title}" class="title"></td>
					-->
					<td class="title">
						<a href="/board/openBoardDetail.do?boardIdx=" 
							th:attrappend="href=${board.boardIdx}"
							th:text="${board.title}"></a>						
					</td>
					<td th:text="${board.hitCnt}"></td>
					<td th:text="${board.createdDt}"></td>
				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="4">조회된 결과가 없습니다.</td>
				</tr>				
			</tbody>
		</table>
		<a href="/board/openBoardWrite.do" class="btn">글쓰기</a>
		
		<!-- 페이지 번호와 링크를 출력 -->
		<style>
			ul { margin: 0; padding: 0; list-style: none; float: right; }
			li { float: left; width: auto; }
			li a { display: block; margin-right: 5px; padding: 3px 15px; border-radius: 2px; background-color: #86ecf8; color: #ffffff; font-size: 12px; text-decoration: none; }
			li a:hover { background-color: #94ecf6; }
			ul:after { content: ""; display: block; clear: both; }
			li a.current { font-weight: bold; background-color: #75dbe7; }
		</style>
		<ul>
			<li th:each="i : ${#numbers.sequence(1, pageCount, 1)}">
				<a th:if="${i eq currentPage}" class="current" href="openBoardList.do?currentPage=" th:attrappend="href=${i}">[[${i}]]</a>
				<a th:unless="${i eq currentPage}" href="openBoardList.do?currentPage=" th:attrappend="href=${i}">[[${i}]]</a>
			</li>
		</ul>		
	</div>
</body>
</html>